*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

.btn1{
  color: #fd9c6b;
  border: 1px solid #fd9c6b;
  background-color: transparent;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
}

.btn2{
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fd9c6b;
  color:white;
  border-radius: 0;
 }

.btn3{
  color: #160e0b;
  border: 1px solid #160e0b;
  background-color: transparent;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
}
    
span{
  color: #fd9c6b;
 }


.nav-item a{
    color: white;
  }


.banner-content{
    top: 6rem;
  }



/* card */

.card{
    border: none;
    background-color: #eeeeee;
  }

.pic img{
   height: 11rem;
   width: 100%;
   padding-left:4rem ;
   padding-right:4rem ;
  }

.new{
    padding-top: 10px;
   height: 45px;
   width: 45px;
   border-radius: 50%;
  }



/* about */

.about-image{
    position: relative;
    padding: 20px 0 0 20px;
  }

.about-image::before{
    content: '';
    position: absolute;
    height: 320px;
    width: 340px;
    background-color: #160e0b;
    z-index: -99;
 }

.about-image img{
    height: 400px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 2;
 }



/* discount */

.discount{
    position: relative;
 }
.content{
    position: absolute;
    top: 10px;
    left: 10px;
 }

.content-2{
    bottom: 1rem;
   right: 1rem;
    
 }

.content-3{
    bottom: 1rem;
 }



/* blog */

.blog-card{
  position: relative;
}

.date-text{
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #160e0b;
  color: #eeeeee;
  bottom: -20px;
  left:20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
 
.btn3:hover{
  background-color: black;
  color: white;
}


/* footer */

.footer{
  background-color: #160e0b;
  color: #eeeeee;
}
.icon i{
  height:30px;
  width:30px;
  border: 1px solid;
  color: white;
  font-size: x-small;
  padding: 0.6rem;
}

.footer-form{
  display: flex;
}

.footer-input{
  flex: 1;
  outline: 0;
}

.ft-img{
  height: 63px;
  width: 63px;
  background-color: #eeeeee;
}

/* end */